<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="create-medical-service">
    <div class="modal fade" id="create-medical-service-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" th:text="#{title.service.creation}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="py-3 px-5">
                        <div class="mb-3 with-validation">
                            <label for="service-title" class="form-label fw-semibold required-field" th:text="#{title.medical_service.name}"></label>
                            <input type="text" class="form-control title-input" id="service-title" name="title">
                        </div>

                        <div class="mb-3 with-validation">
                            <label for="service-price" class="form-label fw-semibold required-field" th:text="#{title.price}"></label>
                            <input type="text" class="form-control price-input" id="service-price" name="price">
                        </div>

                        <div class="mb-3 with-validation">
                            <label class="form-label fw-semibold" th:text="#{title.category}"></label>
                            <th:block th:replace="~{admin/component/category-selection :: category-modal-selection}"></th:block>
                        </div>

                        <div class="mb-3 with-validation">
                            <label for="service-description" class="form-label fw-semibold" th:text="#{title.description}"></label>
                            <textarea class="form-control description-input" id="service-description" name="description" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-save" th:text="#{title.save}"></button>
                    <button type="button" class="btn btn-secondary" th:text="#{title.cancel}" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>