<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/app}"
>

<th:block layout:fragment="content-style">
    <style>
        .card-body {
            padding: 2rem !important;
        }
    </style>
</th:block>

<th:block layout:fragment="content-title" th:text="#{title.appointment.creation}"></th:block>
<th:block layout:fragment="content-title-note"></th:block>
<th:block layout:fragment="content-button"></th:block>

<th:block layout:fragment="content-body">
    <div class="d-flex gap-5 justify-content-between">
        <div class="card col-5" id="create-appointment">
            <div class="card-header bg-black custom-card-header" th:text="#{title.appointment.form}"></div>
            <div class="card-body appointment-creation-area">
                <div class="h5" th:text="#{title.subscriber}"></div>
                <hr>
                <div class="form-group with-validation">
                    <label class="required-field" for="subscriber-name" th:text="#{title.full_name}"></label>
                    <input type="text" class="form-control" id="subscriber-name" name="subscriberName"
                           th:placeholder="#{placeholder.full_name}">
                </div>
                <div class="form-group with-validation">
                    <label class="required-field" for="subscriber-phone" th:text="#{title.phone}"></label>
                    <input type="text" class="form-control" id="subscriber-phone" name="subscriberPhone"
                           th:placeholder="#{placeholder.phone}">
                </div>
                <div class="form-group with-validation">
                    <label class="required-field" for="subscriber-email" th:text="#{title.email}"></label>
                    <input type="text" class="form-control" id="subscriber-email" name="subscriberEmail"
                           th:placeholder="#{placeholder.email}">
                </div>
                <div class="form-check with-validation">
                    <input class="form-check-input" type="checkbox" value="" id="self-register">
                    <label class="form-check-label" for="self-register" th:text="#{title.subscriber.self_register}">
                    </label>
                </div>
                <div class="h5 mt-3" th:text="#{title.patient}"></div>
                <hr>
                <div class="form-group with-validation">
                    <label class="required-field" for="patient-name" th:text="#{title.full_name}"></label>
                    <input type="text" class="form-control" id="patient-name" name="patientName"
                           th:placeholder="#{placeholder.full_name}">
                </div>
                <div class="form-group with-validation">
                    <label for="patient-phone" th:text="#{title.phone}"></label>
                    <input type="text" class="form-control" id="patient-phone" name="patientPhone"
                           th:placeholder="#{placeholder.phone}">
                </div>
                <div class="form-group with-validation">
                    <label for="patient-email" th:text="#{title.email}"></label>
                    <input type="text" class="form-control" id="patient-email" name="patientEmail"
                           th:placeholder="#{placeholder.email}">
                </div>
                <div class="form-group with-validation">
                    <label class="required-field" th:text="#{title.gender}"></label>
                    <th:block th:each="gender : ${genderMap}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="patientGender"
                                   th:id="${gender.key}" th:value="${gender.key}">
                            <label class="form-check-label" th:for="${gender.key}" th:text="${gender.value}"></label>
                        </div>
                    </th:block>
                </div>
                <div class="form-group with-validation">
                    <label class="required-field" for="patient-birthday" th:text="#{title.birthday}"></label>
                    <input type="text" class="form-control" id="patient-birthday" name="patientBirthday"
                           th:placeholder="#{placeholder.birthday}"/>
                </div>
                <div class="form-group with-validation">
                    <label for="patient-address" th:text="#{title.address}"></label>
                    <input type="text" class="form-control" id="patient-address" name="patientAddress"
                           th:placeholder="#{placeholder.address}">
                </div>
                <div class="form-group with-validation">
                    <label class="required-field" for="relation-with-subscriber"
                           th:text="#{title.patient.subscriber_relation}"></label>
                    <input type="text" class="form-control" id="relation-with-subscriber" name="relationWithSubscriber"
                           th:placeholder="#{placeholder.subscriber_relation}">
                </div>
                <div class="form-group with-validation">
                    <label class="required-field" for="visit-reason" th:text="#{title.visit_reason}"></label>
                    <input type="text" class="form-control" id="visit-reason" name="visitReason"
                           th:placeholder="#{placeholder.visit_reason}">
                </div>
                <div class="form-group with-validation">
                    <label th:text="#{title.doctor}" class="required-field"></label>
                    <select name="doctorId" class="form-control doctor-select" style="width: 100%"
                            th:data-label="#{placeholder.doctor}">
                        <option value="" th:text="#{placeholder.doctor}" selected></option>
                        <th:block th:each="doctor: ${doctors}">
                            <option th:value="${doctor.userId}" th:text="${doctor.fullName}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="card-footer px-5 py-3">
                <div class="btn-group float-end">
                    <button id="submit-btn" class="btn btn-black" type="button" th:text="#{title.create}"></button>
                    <button id="cancel-btn" class="btn btn-secondary" type="button" th:text="#{title.cancel}"></button>
                </div>
            </div>
        </div>
        <div class="card col">
            <div class="card-header bg-black custom-card-header" th:text="#{title.subscriber.list}"></div>
            <div class="card-body">
                <div class="input-group col mb-3">
                    <input id="search-subscriber-input" type="text" class="form-control border-secondary border-1"
                           th:placeholder="#{placeholder.find_subscriber}">
                    <button id="reset-subscriber-btn" class="btn btn-danger" type="button">
                        <i class="fas fa-times"></i>
                    </button>
                    <button id="search-subscriber-btn" class="btn btn-black" type="button">
                        <i class="fa fa-search"></i>
                        <span th:text="#{title.search}"></span>
                    </button>
                </div>
                <div class="table-responsive">
                    <table id="subscriber-list-table"
                           class="table table-sm table-hover table-head-bg-black dataTable w-100">
                        <thead>
                        <tr class="text-center p-12">
                            <th class="w-8">#</th>
                            <th th:text="#{title.full_name}"></th>
                            <th th:text="#{title.email}"></th>
                            <th class="w-22" th:text="#{title.phone}"></th>
                            <th class="w-15" th:text="#{title.action}"></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment list modal -->
    <th:block th:replace="~{admin/appointment/component/appointment_list_modal :: appointment-list}"></th:block>
</th:block>

<th:block layout:fragment="appointment-script">
    <script type="module">
        import {AppointmentCreation} from '/admin/custom/js/appointment/appointment-create.js';
        import {AppointmentListForCreation} from '/admin/custom/js/appointment/appointment-list.js';
        import {Subscriber} from '/admin/custom/js/appointment/subscriber.js';

        AppointmentCreation.init();
        AppointmentListForCreation.init();
        Subscriber.init();
    </script>
</th:block>