<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/app}"
>

<th:block layout:fragment="content-style"></th:block>

<th:block layout:fragment="content-title" th:text="#{title.appointment.list}"></th:block>
<th:block layout:fragment="content-title-note"></th:block>
<th:block layout:fragment="content-button">
    <button id="refresh-btn" class="btn btn-primary btn-round" type="button" th:text="#{title.refresh}"></button>
</th:block>

<th:block layout:fragment="content-body">
    <div class="d-flex justify-content-between">
        <div class="p-0 col">
            <div class="input-group">
                <label for="search-input" class="btn btn-black" type="button">
                    <i class="fa fa-search"></i>
                </label>
                <input id="search-input" type="search" class="form-control border-secondary border-1"
                       th:placeholder="#{placeholder.find_appointment}">
            </div>
        </div>
        <div class="col-2 mx-3">
            <select id="doctor-select" class="selectpicker w-100 bg-white"
                    th:data-none-selected-text="#{placeholder.doctor}"
                    tabindex="-1" data-actions-box="true" multiple>
                <th:block th:each="doctor: ${doctors}">
                    <option th:value="${doctor.userId}" th:text="${doctor.fullName}"></option>
                </th:block>
            </select>
        </div>
        <div class="col-2 mx-3">
            <input id="register-date-input" type="text"
                   class="form-control border-secondary border-1 daterange text-grey padding-fixed"
                   th:placeholder="#{placeholder.register_date}">
        </div>
        <div class="btn-group float-end col">
            <button id="submit-btn" class="btn btn-black" type="button" th:text="#{title.apply}"></button>
            <button id="cancel-btn" class="btn btn-secondary" type="button" th:text="#{title.cancel}"></button>
        </div>
    </div>
    <div class="btn-group d-flex flex-wrap my-4" id="status-select">
        <div class="btn btn-black text-white" th:text="#{placeholder.status}"></div>
        <th:block th:each="appointmentStatus: ${appointmentStatusMap}">
            <input type="checkbox" class="btn-check" th:id="'status-pending' + ${appointmentStatus.key}"
                   name="action-status" th:value="${appointmentStatus.key}" autocomplete="off">
            <label class="btn action-status-badge" th:classappend="'action-status-filter-' + ${appointmentStatus.key}"
                   th:for="'status-pending' + ${appointmentStatus.key}">
                <span class="z-3 position-absolute top-0 start-50 translate-middle badge rounded-pill bg-black"
                      th:text="${appointmentStatusCount[appointmentStatus.key]}">
                </span>
                <span th:text="${appointmentStatus.value}"></span>
            </label>
        </th:block>
    </div>
    <div class="table-responsive">
        <table id="appointment-list-table" class="table table-sm table-hover table-head-bg-black dataTable w-100">
            <thead>
            <tr class="text-center">
                <th>#</th>
                <th th:text="#{title.patient.full_name}"></th>
                <th th:text="#{title.email}"></th>
                <th th:text="#{title.phone}"></th>
                <th th:text="#{title.register_date}"></th>
                <th th:text="#{title.status}"></th>
                <th th:text="#{title.doctor}"></th>
                <th th:text="#{title.action}"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- Appointment detail modal -->
    <th:block th:replace="~{admin/appointment/component/appointment_detail_modal :: appointment-detail}"></th:block>
</th:block>

<th:block layout:fragment="appointment-script">
    <script type="module">
        import {AppointmentList, AppointmentDetail} from '/admin/custom/js/appointment/appointment-list.js';

        AppointmentList.init();
        AppointmentDetail.init();
    </script>
</th:block>