<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<th:block th:fragment="login-script">
    <!--   Core JS Files   -->
    <script th:src="@{admin/assets/js/core/jquery-371.min.js}"></script>
    <script th:src="@{admin/assets/js/core/popper.min.js}"></script>
    <script th:src="@{admin/assets/js/core/bootstrap.min.js}"></script>

    <!-- jQuery Scrollbar -->
    <script th:src="@{admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

    <!-- Bootstrap Notify -->
    <script th:src="@{admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

    <!-- Sweet Alert -->
    <script th:src="@{admin/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

    <!-- Kaiadmin JS -->
    <script th:src="@{admin/assets/js/kaiadmin.min.js}"></script>
</th:block>
