<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="create-resource">
    <div class="modal fade" id="create-resource-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" th:text="#{title.resource.creation}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="py-3 px-5" id="create-resource-form">
                        <div class="mb-3 with-validation">
                            <th:block th:replace="~{admin/component/file-uploading :: file-uploading}"></th:block>
                        </div>
                        <div class="mb-3 with-validation">
                            <label class="form-label fw-semibold" th:text="#{title.category}"></label>
                            <th:block th:replace="~{admin/component/category-selection :: category-modal-selection}"></th:block>
                        </div>
                        <div class="mb-3 with-validation">
                            <label for="storage-create-description" class="form-label fw-semibold" th:text="#{title.description}"></label>
                            <textarea class="form-control description-input" id="storage-create-description" name="description" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>