<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="tab-bar">
    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
        <li class="nav-item submenu">
            <a class="nav-link active" id="before-treatment-tab" th:text="#{title.medical_exam}"
               data-bs-toggle="tab" href="#medical-exam-area"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="after-treatment-tab" th:text="#{title.prescription}"
               data-bs-toggle="tab" href="#prescription-area"></a>
        </li>
    </ul>
</th:block>