<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="prescription-detail">
    <input type="hidden" data-attribute="prescriptionId">
    <div class="logo-clinic d-flex justify-content-between mb-3">
        <div class="d-flex">
            <img src="" alt="Clinic Logo" class="me-2 clinic-logo">
            <h5 class="my-auto text-uppercase" th:text="#{title.app.client}"></h5>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-dark print-prescription-btn" th:text="#{title.prescription.print}"></button>
            <button class="btn btn-sm btn-danger delete-prescription-btn"
                    th:text="#{title.prescription.delete}"></button>
        </div>
    </div>
    <h3 class="mb-3 fw-bolder text-center" th:text="#{title.prescription}"></h3>
    <div class="mb-3 d-flex justify-content-between">
        <div>
            <strong th:text="#{title.full_name}"></strong>:&nbsp;<span data-attribute="patientName"></span>
        </div>
        <div>
            <strong th:text="#{title.created_at}"></strong>:&nbsp;<span data-attribute="createdAt"></span>
        </div>
    </div>

    <div class="mb-3">
        <strong th:text="#{title.medicine.internal}"></strong>:&nbsp;
    </div>
    <table class="table table-bordered table-internal-medicine">
        <thead class="table-light">
        <tr>
            <th class="w-50" th:text="#{title.medicine.name}"></th>
            <th class="w-15" th:text="#{title.quantity}"></th>
            <th th:text="#{title.usage}"></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="mb-3">
        <strong th:text="#{title.medicine.external}"></strong>:&nbsp;
    </div>
    <table class="table table-bordered table-external-medicine">
        <thead class="table-light">
        <tr>
            <th class="w-50" th:text="#{title.medicine.name}"></th>
            <th class="w-15" th:text="#{title.quantity}"></th>
            <th th:text="#{title.usage}"></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="mb-3">
        <span class="h6" th:text="#{title.instruction}"></span>:&nbsp;
        <span class="h6 fw-bolder" data-attribute="instruction"></span>
    </div>

    <div class="mb-3">
        <span class="h6" th:text="#{title.re_examination}"></span>:&nbsp;
        <span class="h6 fw-bolder" data-attribute="reExamination"></span>
    </div>

    <div class="text-end">
        <em th:text="#{title.prescription.doctor_confirmation}"></em>
    </div>
</th:block>