<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="prescription-invoice">
    <div class="modal fade text-black" id="prescription-invoice-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mw-90">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" th:text="#{title.prescription_invoice}"></h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-between">
                    <div class="col-6 h-100 p-5">
                        <th:block th:replace="~{admin/medical_record/component/invoice_detail :: invoice-detail}"></th:block>
                    </div>
                    <div class="col-6 h-100 p-5">
                        <th:block th:replace="~{admin/medical_record/component/prescription-detail :: prescription-detail}"></th:block>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" th:text="#{title.cancel}" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>