<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="appointment-status-flow">
    <div class="modal fade" id="appointment-status-flow-modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="table-responsive">
                        <img th:src="@{/common/img/appointment/examination_register_flow.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>