<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="appointment-detail">
    <div class="modal fade" id="appointment-detail-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-top" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" th:text="#{title.appointment.detail}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-black px-5">
                    <h4 class="text-primary" th:text="#{title.patient.info}"></h4>
                    <div class="ms-5 my-4 d-grid gap-3">
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.full_name}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="patientName"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.birthday}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="patientBirthday"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.gender}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="patientGender"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.phone}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="patientPhone"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.email}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="patientEmail"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.address}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="patientAddress"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.patient.subscriber_relation}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="relationWithSubscriber"></div>
                        </div>
                        <input type="hidden" id="appointment-id-input">
                    </div>
                    <h4 class="text-primary" th:text="#{title.subscriber.info}"></h4>
                    <div class="ms-5 my-4 d-grid gap-3">
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.full_name}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="subscriberName"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.phone}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="subscriberPhone"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5" th:text="#{title.email}"></div>
                            <div class="col fs-5 appointment-detail" data-attribute="subscriberEmail"></div>
                        </div>
                        <div class="d-flex">
                            <div class="col-4 fw-bold fs-5">
                                <span th:text="#{title.status}"></span>
                                <button type="button" class="btn btn-icon btn-round btn-outline-danger border-0"
                                        data-bs-toggle="tooltip" th:data-bs-title="#{title.appointment.status_flow}">
                                    <i class="fa fa-exclamation-circle" data-bs-toggle="modal"
                                       data-bs-target="#appointment-status-flow-modal"></i>
                                </button>
                            </div>
                            <div class="col fs-5 d-flex gap-3">
                                <div id="appointment-detail-status" class="col">
                                </div>
                                <label for="appointment-action-status" class="far fa-arrow-alt-circle-right m-auto text-center col-1"></label>
                                <div class="col">
                                    <select class="form-control form-control-sm" id="appointment-action-status" name="actionStatus">
                                        <option value="" th:text="#{placeholder.status}" disabled selected></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <label for="doctor-detail-select" class="col-4 fw-bold fs-5 text-black" th:text="#{title.doctor}"></label>
                            <select class="form-control form-control-sm" id="doctor-detail-select" name="doctorId">
                                <option value="" th:text="#{placeholder.doctor}"></option>
                                <th:block th:each="doctor: ${doctors}">
                                    <option th:value="${doctor.userId}" th:text="${doctor.fullName}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-save-appointment"
                            th:text="#{title.save}"></button>
                    <button type="button" class="btn btn-secondary" th:text="#{title.cancel}"
                            data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>