<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="appointment-list">
    <div class="modal fade" id="appointment-list-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" th:text="#{title.appointment.list}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="appointments-for-create-table"
                               class="table table-sm table-head-bg-black dataTable w-100">
                            <thead>
                            <tr class="text-center p-12">
                                <th class="w-10" th:text="#{title.select}"></th>
                                <th class="w-5">#</th>
                                <th th:text="#{title.patient.name}"></th>
                                <th class="w-10" th:text="#{title.gender}"></th>
                                <th class="w-15" th:text="#{title.phone}"></th>
                                <th th:text="#{title.address}"></th>
                                <th class="w-15" th:text="#{title.registered_at}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-confirm-select-appointment"
                            th:text="#{title.confirm}"></button>
                    <button type="button" class="btn btn-secondary" th:text="#{title.cancel}"
                            data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>