<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="category-selection">
    <select id="category-select" class="selectpicker w-100"
            th:data-none-selected-text="#{placeholder.category}"
            tabindex="-1" data-actions-box="true" multiple>
        <th:block th:each="medicineCategory: ${medicineCategories}">
            <option th:value="${medicineCategory.categoryId}" th:text="${medicineCategory.title}"></option>
        </th:block>
    </select>
</th:block>