<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/app}">

<th:block layout:fragment="content-style">
    <style>
        label {
            font-weight: bolder;
        }

        .table > tfoot > tr > td, .table > tfoot > tr > th {
            padding: 8px 12px !important;
        }

        .clinic-logo {
            height: 40px;
            width: 40px;
        }
    </style>
</th:block>

<body>
<th:block layout:fragment="content-title" th:text="#{title.medical_record.detail}"></th:block>

<th:block layout:fragment="content-title-note"></th:block>

<th:block layout:fragment="content-button">
    <button id="back-btn" class="btn btn-primary btn-round" type="button"
            th:text="#{title.medical_record.back_to_list}"></button>
</th:block>

<th:block layout:fragment="content-body">
    <div class="card mx-auto px-5 col-xl-11 col-md-10">
        <div class="card-body medical-record-detail-area">
            <div class="d-flex">
                <th:block th:replace="~{admin/medical_record/component/medical_record_tab_bar :: tab-bar}"></th:block>
                <div class="my-auto ms-auto">
                    <span class="fw-bold me-3" th:text="#{title.status}"></span>
                    <span class="btn action-status-badge"
                          th:classappend="'action-status-' + ${appointment.actionStatus}"
                          th:text="${appointmentStatusMap[appointment.actionStatus]}">
                </span>
                </div>
            </div>
            <div class="tab-content mt-5 mb-3">
                <input type="hidden" th:value="${appointment.appointmentId}" id="appointment-id">
                <input type="hidden" th:value="${medicalRecord.medicalRecordId}" id="medical-record-id">
                <input type="hidden" th:value="${medicalRecord.invoiceId}" id="invoice-id">
                <input type="hidden" th:value="${medicalRecord.prescriptionId}" id="prescription-id">
                <div class="tab-pane active show" id="medical-exam-area">
                    <div class="row g-3">
                        <div class="col-md-6 with-validation">
                            <label class="form-label required-field" th:text="#{title.full_name}"
                                   for="patient-full-name"></label>
                            <input type="text" class="form-control" name="patientName" id="patient-full-name"
                                   th:value="${appointment.patientName}" th:data-value="${appointment.patientName}">
                        </div>
                        <div class="col-md-3 with-validation">
                            <label class="form-label required-field" th:text="#{title.birthday}"
                                   for="patient-birthday"></label>
                            <input type="text" class="form-control" name="patientBirthday" id="patient-birthday"
                                   th:value="${appointment.patientBirthday}">
                        </div>
                        <div class="col-md-3 with-validation">
                            <label class="form-label required-field" th:text="#{title.gender}"></label><br>
                            <th:block th:each="gender : ${genderMap}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="patientGender"
                                           th:id="${gender.key}" th:value="${gender.key}"
                                           th:checked="${appointment.patientGender == gender.key}">
                                    <label class="form-check-label" th:for="${gender.key}"
                                           th:text="${gender.value}"></label>
                                </div>
                            </th:block>
                        </div>
                        <div class="col-md-6 with-validation">
                            <label class="form-label" th:text="#{title.phone}" for="patient-phone"></label>
                            <input type="text" class="form-control" name="patientPhone" id="patient-phone"
                                   th:value="${appointment.patientPhone}">
                        </div>
                        <div class="col-md-6 with-validation">
                            <label class="form-label" th:text="#{title.email}" for="patient-email"></label>
                            <input type="email" class="form-control" name="patientEmail" id="patient-email"
                                   th:value="${appointment.patientEmail}">
                        </div>
                        <div class="col-md-6 with-validation">
                            <label class="form-label" th:text="#{title.address}" for="patient-address"></label>
                            <input type="text" class="form-control" name="patientAddress" id="patient-address"
                                   th:value="${appointment.patientAddress}">
                        </div>
                        <div class="col-md-6 with-validation">
                            <label class="form-label required-field" th:text="#{title.visit_reason}"
                                   for="visit-reason"></label>
                            <input type="text" class="form-control" name="visitReason" id="visit-reason"
                                   th:value="${appointment.visitReason}">
                        </div>
                        <div class="col-12 with-validation">
                            <label class="form-label" th:text="#{title.medical_history}" for="medical-history"></label>
                            <textarea class="form-control" rows="2" name="medicalHistory" id="medical-history"
                                      th:text="${medicalRecord.medicalHistory}"></textarea>
                        </div>
                        <div class="col-12 with-validation">
                            <label class="form-label required-field" th:text="#{title.diagnosis}"
                                   for="diagnosis"></label>
                            <input type="text" class="form-control" name="diagnosis" id="diagnosis"
                                   th:value="${medicalRecord.diagnosis}">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="medical-service"
                                   th:text="#{title.medical_service.select}"></label>
                            <input type="search" class="form-control" id="medical-service">
                        </div>
                        <div>
                            <table class="table" id="selected-services-table">
                                <thead>
                                <tr>
                                    <th th:text="#{title.medical_service.name}"></th>
                                    <th th:text="#{title.price}"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="medicalService: ${medicalServices}">
                                    <tr>
                                        <input type="hidden" name="medicalServiceIds[]"
                                               th:value="${medicalService.medicalServiceId}">
                                        <input type="hidden" name="medicalServicePrice[]"
                                               th:value="${medicalService.price}">
                                        <td th:text="${medicalService.title}"></td>
                                        <td class="service-price-text" th:data-price="${medicalService.price}"></td>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-danger btn-remove-service">X
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th th:text="#{placeholder.medical_service.total_price}"></th>
                                    <th id="service-total-price">0 đ</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-12 with-validation">
                            <label class="form-label" th:text="#{title.advance}" for="advance"></label>
                            <input type="text" class="form-control" id="advance" th:value="${medicalRecord.advance}">
                        </div>
                    </div>
                    <div class="my-5 d-flex justify-content-between">
                        <th:block
                                th:replace="~{admin/medical_record/component/medical_record_tab_bar :: tab-bar}"></th:block>
                        <div>
                            <button class="btn btn-primary save-and-print-advance-btn"
                                    th:text="#{title.medical_record.save_and_print_advance}"></button>
                            <button class="btn btn-secondary save-record-btn"
                                    th:text="#{title.save_change}"></button>
                            <button class="btn btn-danger delete-record-btn"
                                    th:text="#{title.medical_record.remove}"></button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="prescription-area">
                    <div class="row g-3">
                        <h4 th:text="#{title.prescription.internal_availability}"></h4>
                        <div class="col-12">
                            <label class="form-label" for="internal-medicine"
                                   th:text="#{title.medicine.select}"></label>
                            <input type="search" class="form-control" id="internal-medicine">
                        </div>
                        <div class="table-responsive">
                            <table class="table" id="selected-internal-medicines-table">
                                <thead>
                                <tr>
                                    <th th:text="#{title.medicine.name}"></th>
                                    <th th:text="#{title.quantity}"></th>
                                    <th th:text="#{title.unit_price}"></th>
                                    <th th:text="#{title.usage}"></th>
                                    <th th:text="#{title.total_price}"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                <tr>
                                    <th th:text="#{placeholder.medicine.total_price}"></th>
                                    <th id="medicine-total-price" colspan="5">0 đ</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <h4 class="mt-5" th:text="#{title.prescription.external}"></h4>
                        <div class="table-responsive">
                            <table class="table" id="external-medicines-table">
                                <thead>
                                <tr>
                                    <th th:text="#{title.medicine.name}"></th>
                                    <th th:text="#{title.quantity}"></th>
                                    <th th:text="#{title.usage}"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4" class=" border-bottom-0">
                                        <button id="btn-add-external-medicine" data-bs-toggle="tooltip"
                                                th:data-bs-title="#{title.medicine.add_external}"
                                                type="button" class="btn btn-outline-dark w-100 border-0">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-12">
                            <label class="form-label" th:text="#{title.instruction}" for="instruction"></label>
                            <textarea class="form-control" rows="2" name="instruction" id="instruction"></textarea>
                        </div>
                        <div class="col-12">
                            <label class="form-label" th:text="#{title.re_examination}" for="re-examination"></label>
                            <input type="text" class="form-control" name="reExamination" id="re-examination">
                        </div>
                    </div>
                    <div class="row my-5 ">
                        <h5 th:text="#{message.medical_record_saving_check}" class="text-danger fw-bold"></h5>
                    </div>
                    <div class="d-flex justify-content-between">
                        <th:block
                                th:replace="~{admin/medical_record/component/medical_record_tab_bar :: tab-bar}"></th:block>
                        <div>
                            <button class="btn btn-primary create-invoice-prescription-btn"
                                    th:text="#{title.prescription_invoice.create}"></button>
                            <button class="btn btn-dark see-invoice-prescription-btn"
                                    th:text="#{title.prescription_invoice.see}"
                                    data-bs-toggle="modal" data-bs-target="#prescription-invoice-modal"></button>
                            <button class="btn btn-danger finish-examination-btn"
                                    th:text="#{title.medical_record.finish}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Prescription-invoice modal -->
    <th:block
            th:replace="~{admin/medical_record/component/prescription_invoice_modal :: prescription-invoice}"></th:block>
    <!-- Advance detail form -->
    <th:block th:replace="~{admin/medical_record/component/advance_detail :: advance-detail}"></th:block>
</th:block>

<th:block layout:fragment="medical-record-script">
    <script type="module">
        import {
            MedicalRecordUpdating,
            MedicalRecordDeletion,
            MedicalRecordPrescription
        } from '/admin/custom/js/medical_record/detail.js';
        import {MedicalRecordInvoicePrescription} from '/admin/custom/js/medical_record/invoice_prescription.js';

        (function () {
            document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(el => {
                el.addEventListener('shown.bs.tab', function (e) {
                    const target = e.target.getAttribute('href');

                    document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(link => {
                        if (link.getAttribute('href') === target) {
                            link.classList.add('active');
                        } else {
                            link.classList.remove('active');
                        }
                    });
                });
            });

            MedicalRecordUpdating.init();
            MedicalRecordDeletion.init();
            MedicalRecordPrescription.init();
            MedicalRecordInvoicePrescription.init();
        })();
    </script>
</th:block>
</body>
</html>