<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/app}">

<th:block layout:fragment="content-style">
    <style>
        label {
            font-weight: bolder;
        }
        .table>tfoot>tr>td, .table>tfoot>tr>th {
            padding: 8px 12px !important;
        }
    </style>
</th:block>

<body>
<th:block layout:fragment="content-title" th:text="#{title.medical_record.detail}"></th:block>

<th:block layout:fragment="content-title-note"></th:block>

<th:block layout:fragment="content-button">
    <button id="back-btn" class="btn btn-primary btn-round" type="button" th:text="#{title.back}"></button>
</th:block>

<th:block layout:fragment="content-body">
    <div class="card mx-auto px-5 col-xl-11 col-md-10">
        <div class="card-body">
            <th:block th:replace="~{admin/medical_record/component/medical_record_tab_bar :: tab-bar}"></th:block>
            <div class="tab-content mt-5 mb-3">
                <div class="tab-pane active show" id="before-treatment-area">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label required-field" th:text="#{title.full_name}"
                                   for="patient-full-name"></label>
                            <input type="text" class="form-control" name="patientName" id="patient-full-name"
                                    th:value="${appointment.patientName}">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label required-field" th:text="#{title.birthday}"
                                   for="patient-birthday"></label>
                            <input type="text" class="form-control" name="patientBirthday" id="patient-birthday"
                                   th:value="${appointment.patientBirthday}">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label required-field" th:text="#{title.gender}"></label><br>
                            <th:block th:each="gender : ${genderMap}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="patientGender"
                                           th:id="${gender.key}" th:value="${gender.key}"
                                           th:checked="${appointment.patientGender == gender.key}">
                                    <label class="form-check-label" th:for="${gender.key}"
                                           th:text="${gender.value}"></label>
                                </div>
                            </th:block>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" th:text="#{title.phone}" for="patient-phone"></label>
                            <input type="text" class="form-control" name="patientPhone" id="patient-phone"
                                   th:value="${appointment.patientPhone}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" th:text="#{title.email}" for="patient-email"></label>
                            <input type="email" class="form-control" name="patientEmail" id="patient-email"
                                   th:value="${appointment.patientEmail}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" th:text="#{title.address}" for="patient-address"></label>
                            <input type="text" class="form-control" name="patientAddress" id="patient-address"
                                   th:value="${appointment.patientAddress}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required-field" th:text="#{title.visit_reason}"
                                   for="visit-reason"></label>
                            <input type="text" class="form-control" name="visitReason" id="visit-reason"
                                   th:value="${appointment.visitReason}">
                        </div>
                        <div class="col-12">
                            <label class="form-label" th:text="#{title.medical_history}" for="medical-history"></label>
                            <textarea class="form-control" rows="2" name="medicalHistory" id="medical-history"
                                      th:value="${medicalRecord.medicalHistory}"></textarea>
                        </div>
                        <div class="col-12">
                            <label class="form-label required-field" th:text="#{title.diagnosis}"
                                   for="diagnosis"></label>
                            <input type="text" class="form-control" name="diagnosis" id="diagnosis"
                                   th:value="${medicalRecord.diagnosis}">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="medical-service" th:text="#{title.medical_service.select}"></label>
                            <input type="search" class="form-control" id="medical-service" name="medicalServiceId">
                        </div>
                        <div>
                            <table class="table" id="selected-services-table">
                                <thead>
                                <tr>
                                    <th th:text="#{title.medical_service.name}"></th>
                                    <th th:text="#{title.price}"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th th:text="#{placeholder.medical_service.total_price}"></th>
                                    <th id="service-total-price">0 đ</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-12">
                            <label class="form-label" th:text="#{title.advance}" for="advance"></label>
                            <input type="number" class="form-control" value="0" id="advance"
                                   th:value="${medicalRecord.advance}">
                        </div>
                    </div>
                    <div class="my-5 d-flex justify-content-between">
                        <th:block th:replace="~{admin/medical_record/component/medical_record_tab_bar :: tab-bar}"></th:block>
                        <div>
                            <button class="btn btn-primary save-and-print-advance-btn"
                                    th:text="#{title.medical_record.save_and_print_advance}"></button>
                            <button class="btn btn-secondary save-record-btn"
                                    th:text="#{title.save_only}"></button>
                            <button class="btn btn-danger remove-record-btn"
                                    th:text="#{title.medical_record.remove}"></button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="after-treatment-area">
                    <div class="row g-3">
                        <h4 th:text="#{title.prescription.internal_availability}"></h4>
                        <div class="col-12">
                            <label class="form-label" for="medicine" th:text="#{title.medicine.select}"></label>
                            <select class="form-control" id="medicine" name="medicineId">
                                <option>Thuốc A</option>
                                <option>Thuốc B</option>
                                <option>Thuốc C</option>
                            </select>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th th:text="#{title.medicine.name}"></th>
                                    <th th:text="#{title.quantity}"></th>
                                    <th th:text="#{title.unit_price}"></th>
                                    <th th:text="#{title.usage}"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span>Thuốc A</span>
                                    </td>
                                    <td><input class="form-control form-control-sm" type="number"></td>
                                    <td>
                                        125.000đ
                                    </td>
                                    <td><input class="form-control form-control-sm" type="text"></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-outline-danger">X</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4 class="mt-5" th:text="#{title.prescription.external}"></h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th th:text="#{title.medicine.name}"></th>
                                        <th th:text="#{title.quantity}"></th>
                                        <th th:text="#{title.usage}"></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>Thuốc A</span>
                                        </td>
                                        <td><input class="form-control form-control-sm" type="number"></td>
                                        <td><input class="form-control form-control-sm" type="text"></td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm btn-outline-danger">X</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class=" border-bottom-0">
                                            <button type="button" class="btn btn-outline-dark w-100 border-0">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-12">
                            <label class="form-label" th:text="#{title.instruction}" for="instruction"></label>
                            <textarea class="form-control" rows="2" name="instruction" id="instruction"></textarea>
                        </div>
                        <div class="col-12">
                            <label class="form-label" th:text="#{title.re_examination}" for="re-examination"></label>
                            <input type="text" class="form-control" name="reExamination" id="re-examination">
                        </div>
                    </div>
                    <div class="my-5 d-flex justify-content-between">
                        <th:block th:replace="~{admin/medical_record/component/medical_record_tab_bar :: tab-bar}"></th:block>
                        <div>
                            <button class="btn btn-primary save-and-print-advance-btn"
                                    th:text="#{title.medical_record.save_and_print_invoice}"></button>
                            <button class="btn btn-secondary save-record-btn"
                                    th:text="#{title.save_only}"></button>
                            <button class="btn btn-warning remove-record-btn"
                                    th:text="#{title.reset}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="medical-record-script">
    <script type="module">
        import {MedicalRecordUpdating} from '/admin/custom/js/medical_record/script.js';

        (function () {
            document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(el => {
                el.addEventListener('shown.bs.tab', function (e) {
                    const target = e.target.getAttribute('href');

                    document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(link => {
                        if (link.getAttribute('href') === target) {
                            link.classList.add('active');
                        } else {
                            link.classList.remove('active');
                        }
                    });
                });
            });

            MedicalRecordUpdating.init();
        })();
    </script>
</th:block>
</body>
</html>