<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="app-head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/client/assets/lib/animate/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/client/assets/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <link th:href="@{/client/assets/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Bootstrap v5 -->
    <link rel="stylesheet" th:href="@{/client/assets/lib/bootstrap/bootstrap.v5.min.css}">

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap select -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">

    <!-- Date range picker -->
    <link rel="stylesheet" th:href="@{/admin/assets/plugin/lightpick/lightpick.css}">

    <!-- Template Stylesheet -->
    <link th:href="@{/client/assets/style.css}" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link th:href="@{/common/css/style.css}" rel="stylesheet">
</th:block>
