<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="app-navbar">
    <div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
        <div class="mx-sm-3">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a th:href="@{${webUrl.CLIENT_HOME}}" class="navbar-brand p-0">
                    <h1 class="text-primary mb-0">
                        <img th:src="@{/api/public/images/BSD_Clinic_Logo.png?imagePath=client_home}" alt="Logo" class="rounded-circle">
                        <span th:text="#{title.app.client}"></span>
                    </h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav justify-content-start">
                        <a th:href="@{${webUrl.CLIENT_HOME}}" class="nav-item nav-link" th:text="#{title.dashboard}"></a>
                        <a th:href="@{${webUrl.CLIENT_APPOINTMENT_CREATE}}" class="nav-item nav-link nav-link-highlight" th:text="#{title.appointment.register.short}"></a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-bs-toggle="dropdown">
                                <span class="dropdown-toggle" th:text="#{title.column}"></span>
                            </a>
<!--                            <div class="dropdown-menu">-->
<!--                                <a href="#" class="dropdown-item">Chăm sóc da</a>-->
<!--                                <a href="#" class="dropdown-item">Liệu pháp laser</a>-->
<!--                                <a href="#" class="dropdown-item">Bệnh da mặt</a>-->
<!--                                <a href="#" class="dropdown-item">Trẻ hóa da</a>-->
<!--                            </div>-->
                        </div>
                        <a href="#" class="nav-item nav-link" th:text="#{title.medical_service}"></a>
<!--                        <div class="nav-btn px-3">-->
<!--                            <button class="btn-search btn btn-primary btn-md-square rounded-circle flex-shrink-0" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="d-none d-xl-flex flex-shrink-0 ps-4">
                    <a th:href="@{${webUrl.CLIENT_ZALO}}" class="btn btn-light btn-lg-square rounded-circle position-relative wow tada" data-wow-delay=".9s">
                        <i class="fa fa-phone-alt fa-2x"></i>
                        <div class="position-absolute" style="top: 7px; right: 12px;">
                            <span><i class="fa fa-comment-dots text-secondary"></i></span>
                        </div>
                    </a>
                    <div class="d-flex flex-column ms-3">
                        <span th:text="#{title.appointment.register.short}"></span>
                        <a th:href="@{${webUrl.CLIENT_ZALO}}">
                            <span class="text-dark">Zalo:&nbsp;</span>
                            <span th:text="${clinicInfo.phone}"></span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</th:block>
