<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="texts">
    <script th:inline="javascript">
        var ERROR_403 = [[#{error.403}]];

        // Element
        var createButton = [[#{button.create}]];

        // Datatable
        var resultCount = [[#{datatable.result_count}]];
        var noResult = [[#{datatable.no_result}]];
        var menuLength = [[#{datatable.menu_length}]];
        var emptyTable = [[#{datatable.empty_table}]];
        var previousPage = [[#{datatable.previous_page}]];
        var nextPage = [[#{datatable.next_page}]];

        // Message
        var createSuccess = [[#{message.create.success}]];
        var badRequest = [[#{message.bad_request}]];

        // Object to view
        var userRoles = [[${userRoles}]];
    </script>
</th:block>