<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="texts">
    <script th:inline="javascript">
        // Error message
        var ERROR_400 = [[#{error.400}]];
        var ERROR_401 = [[#{error.401}]];
        var ERROR_403 = [[#{error.403}]];
        var ERROR_404 = [[#{error.404}]];
        var ERROR_500 = [[#{error.500}]];

        // Datatable
        var resultCount = [[#{datatable.result_count}]];
        var noResult = [[#{datatable.no_result}]];
        var menuLength = [[#{datatable.menu_length}]];
        var emptyTable = [[#{datatable.empty_table}]];
        var previousPage = [[#{datatable.previous_page}]];
        var nextPage = [[#{datatable.next_page}]];

        // Title
        var selfRegister = [[#{title.subscriber.self_register}]];
        var emptyDayOffList = [[#{title.clinic_info.day_off.empty}]];
        var acceptTitle = [[#{title.accept}]];
        var closeTitle = [[#{title.close}]];
        var confirmApplyTitle = [[#{title.confirm_apply}]];

        // Message
        var createSuccess = [[#{message.create.success}]];
        var operationSuccess = [[#{message.operate.success}]];

        // Validation
        var requiredStartTime = [[#{validation.required.start_time}]];
        var requiredEndTime = [[#{validation.required.end_time}]];

        // Object to view
        var userRoles = [[${userRoles}]];
        var roleTitleMap = [[${roleTitleMap}]];
        var userStatusMap = [[${userStatusMap}]];
        var appointmentActionMap = [[${appointmentActionMap}]];
    </script>
</th:block>