<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<th:block th:fragment="change-password">
    <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" th:text="#{title.change_password}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="py-3 px-5">
                        <div class="mb-3 with-validation">
                            <label th:text="#{title.change_password.old_password}" class="required-field"></label>
                            <input class="form-control" type="password" name="oldPassword">
                        </div>
                        <div class="mb-3 with-validation">
                            <label th:text="#{title.change_password.new_password}" class="required-field"></label>
                            <input class="form-control" type="password" name="newPassword">
                        </div>
                        <div class="mb-3 with-validation">
                            <label th:text="#{title.change_password.confirmation_password}" class="required-field"></label>
                            <input class="form-control" type="password" name="newPasswordConfirmation">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-save-password" th:text="#{title.save}"></button>
                    <button type="button" class="btn btn-secondary" th:text="#{title.cancel}" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>