<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/app}">

<th:block layout:fragment="content-style">
    <link th:href="@{/admin/assets/plugin/tempus-dominus/tempus-dominus.min.css}" rel="stylesheet">
    <style>
        #time-range-select-area .with-validation .error-text {
            left: unset;
            bottom: unset;
            top: 70%;
        }

        #day-off-list-area .dropdown-menu {
            overflow-y: auto;
            max-height: 200px;
        }

        #day-off-list-area .dropdown-item-text {
            padding: 0.5rem 1rem
        }

        label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        @keyframes blink-border {
            0% { border-color: #86b7fe; }
            50% { border-color: transparent; }
            100% { border-color: #86b7fe; }
        }

        .blink-border {
            border: 2px solid #86b7fe;
            animation: blink-border 0.6s ease-in-out 1;
        }
    </style>
</th:block>

<body>
<th:block layout:fragment="content-title" th:text="#{title.clinic_info}"></th:block>

<th:block layout:fragment="content-title-note"></th:block>

<th:block layout:fragment="content-button"></th:block>

<th:block layout:fragment="content-body">
    <div class="card col-md-8 col-sm-10 mx-auto">
        <div class="card-header bg-black text-white rounded-top-3">
            <h4 th:text="#{title.clinic_info.edit}"></h4>
        </div>
        <div class="card-body">
            <!-- User Info -->
            <form class="mx-auto py-3 px-5" id="clinic-info-form">
                <div class="mb-3 with-validation">
                    <label th:text="#{title.clinic_info.name}" class="required-field" for="name"></label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.address}" class="required-field" for="address"></label>
                    <input class="form-control" type="text" name="address" id="address">
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.phone}" class="required-field" for="phone"></label>
                    <input class="form-control" type="text" name="phone" id="phone">
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.email}" for="email"></label>
                    <input class="form-control" type="email" name="email" id="email">
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.website}"></label>
                    <input class="form-control" type="text" name="website" id="website">
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.introduction}" for="introduction"></label>
                    <textarea class="form-control" name="introduction" id="introduction"></textarea>
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.slogan}" for="slogan"></label>
                    <textarea class="form-control" name="slogan" id="slogan"></textarea>
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.description}" for="description"></label>
                    <textarea class="form-control" name="description" id="description"></textarea>
                </div>
                <div class="mb-3 with-validation">
                    <label class="me-3" th:text="#{title.status}"></label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="isActive" id="is-active"/>
                        <label class="form-check-label" for="is-active" th:text="#{title.active}"></label>
                    </div>
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.clinic_info.register_time_range}" for="register-time-range"
                           class="required-field"></label>
                    <input class="form-control" type="number" name="registerTimeRange" id="register-time-range">
                </div>
                <div class="mb-3 with-validation">
                    <label class="required-field me-3" th:text="#{title.clinic_info.working_hours}"></label>
                    <div class="d-flex gap-3">
                        <div class="col-3">
                            <select class="form-control" id="day-option">
                                <th:block th:each="dayOfWeek: ${dayOfWeekMap}">
                                    <option th:value="${dayOfWeek.key}" th:text="${dayOfWeek.value}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col">
                            <input class="form-control col-10" type="text" id="time-range-output" readonly>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2 align-items-end mb-3" id="time-range-select-area">
                    <div class="col">
                        <label for="start-time" th:text="#{title.start_time}"></label>
                        <div class="input-group with-validation" id="start-time-picker" data-td-target-input="nearest"
                             data-td-target-toggle="nearest">
                            <input type="text" class="form-control form-control-sm" name="startTime"
                                   id="start-time" data-td-target="#startTimePicker"/>
                            <span class="input-group-text" data-td-toggle="datetimepicker"
                                  data-td-target="#start-time-picker">
                                <i class="far fa-clock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <label for="end-time" th:text="#{title.end_time}"></label>
                        <div class="input-group with-validation" id="end-time-picker" data-td-target-input="nearest"
                             data-td-target-toggle="nearest">
                            <input type="text" class="form-control form-control-sm" name="endTime"
                                   id="end-time" data-td-target="#endTimePicker"/>
                            <span class="input-group-text" data-td-toggle="datetimepicker"
                                  data-td-target="#end-time-picker">
                            <i class="far fa-clock"></i>
                          </span>
                        </div>
                    </div>
                    <div class="col-2 btn-group">
                        <button type="button" class="btn btn-sm btn-success" id="btn-add-time"
                                data-bs-toggle="tooltip" th:data-bs-title="#{title.clinic_info.working_hours.add}">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-dark" id="btn-clear-time"
                                data-bs-toggle="tooltip" th:data-bs-title="#{title.clinic_info.working_hours.remove}">
                            <i class="fas fa-times"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" id="btn-reset-time"
                                data-bs-toggle="tooltip" th:data-bs-title="#{title.clinic_info.working_hours.reset}">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-3 with-validation">
                    <label th:text="#{title.clinic_info.day_off}" for="day-off"></label>
                    <div class="d-flex gap-3">
                        <div class="col">
                            <input id="day-off" type="text" class="form-control padding-fixed"
                                   th:placeholder="#{placeholder.day_off}">
                        </div>
                        <button type="button" class="btn btn-success col-1" id="btn-add-day-off"
                                data-bs-toggle="tooltip" th:data-bs-title="#{title.clinic_info.day_off.add}">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="btn-group dropdown col-xl-4 col-sm-auto" id="day-off-list-area">
                            <button class="form-control dropdown-toggle text-grey"
                                    th:text="#{placeholder.day_off.list}"
                                    data-bs-auto-close="outside" type="button" data-bs-toggle="dropdown">
                            </button>
                            <ul class="dropdown-menu" role="menu" data-popper-placement="bottom-start">
                            </ul>
                        </div>
                        <button type="button" class="btn btn-primary col-1" id="btn-reset-day-off"
                                data-bs-toggle="tooltip" th:data-bs-title="#{title.clinic_info.day_off.reset}">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex mx-auto my-5 justify-content-center gap-4">
                    <button class="btn btn-primary" th:text="#{title.save}" type="submit"></button>
                    <button class="btn btn-secondary cancel-btn" th:text="#{title.cancel}" type="button"></button>
                </div>
            </form>
        </div>
        <div class="card-footer bg-black"></div>
    </div>
</th:block>

<th:block layout:fragment="clinic-info-script">
    <script th:src="@{/admin/assets/plugin/tempus-dominus/tempus-dominus.min.js}"></script>
    <script type="module" th:src="@{/admin/custom/js/clinic_info/script.js}"></script>
</th:block>
</body>
</html>
