<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/app}"
>

<th:block layout:fragment="content-title" th:text="#{title.user.management}"></th:block>
<th:block layout:fragment="content-title-note"></th:block>
<th:block layout:fragment="content-button">
    <button class="btn btn-primary btn-round" type="button" th:text="#{title.create}"
            data-bs-toggle="modal" data-bs-target="#create-user-modal"></button>
    <!-- User creation modal -->
    <th:block th:replace="~{admin/user/component/creation_form :: create-user}"></th:block>
</th:block>

<th:block layout:fragment="content-body">
    <div class="mb-3 d-flex justify-content-between">
        <div class="col">
            <div class="form-group p-0">
                <div class="input-group">
                    <button class="btn btn-black" type="button"><i class="fa fa-search"></i></button>
                    <input id="search-input" type="search" class="form-control border-secondary border-1"
                           th:placeholder="#{placeholder.find_user}">
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-evenly">
            <div>
                <select id="role-select" class="selectpicker w-100" th:data-none-selected-text="#{placeholder.role}"
                        tabindex="-1" aria-hidden="true" data-actions-box="true" multiple>
                    <th:block th:each="userRole: ${userRoles}">
                        <option th:value="${userRole.code}" th:text="${userRole.title}"></option>
                    </th:block>
                </select>
            </div>
            <div>
                <select id="status-select" class="selectpicker w-100" th:data-none-selected-text="#{placeholder.status}"
                        tabindex="-1" aria-hidden="true" data-actions-box="true" multiple>
                    <option value="ACTIVE" th:text="#{status.active}"></option>
                    <option value="BLOCKED" th:text="#{status.blocked}"></option>
                </select>
            </div>
            <div>
                <input id="creation-daterange-input" type="date"
                       class="form-control border-secondary border-1 daterange text-dark"
                       th:placeholder="#{placeholder.find_user}">
            </div>
        </div>
        <div>
            <button id="submit-btn" class="btn btn-black" type="button" th:text="#{title.apply}"></button>
        </div>
    </div>
    <div>
        <table id="user-list-table" class="table table-sm table-bordered table-hover dataTable">
            <thead>
            <tr class="text-center">
                <th>#</th>
                <th th:text="#{title.email}"></th>
                <th th:text="#{title.full_name}"></th>
                <th th:text="#{title.phone}"></th>
                <th th:text="#{title.created_at}"></th>
                <th th:text="#{title.role}"></th>
                <th th:text="#{title.status}"></th>
                <th th:text="#{title.action}"></th>
            </tr>
            </thead>
            .
            <tbody>
            </tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="user-script">
    <script type="module" th:src="@{/admin/custom/js/user/user-creation.js}"></script>
</th:block>