<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/app}"
>

<th:block layout:fragment="content-style">
    <link rel="stylesheet" th:href="@{/admin/custom/css/user.css}"/>
</th:block>

<th:block layout:fragment="content-title" th:text="#{title.user.management}"></th:block>
<th:block layout:fragment="content-title-note"></th:block>
<th:block layout:fragment="content-button">
    <button class="btn btn-primary btn-round" type="button" th:text="#{title.create}"
            data-bs-toggle="modal" data-bs-target="#create-user-modal"></button>
</th:block>

<th:block layout:fragment="content-body">
    <div class="mb-3 d-flex justify-content-between user-filter-area">
        <div class="p-0 col">
            <div class="input-group">
                <button class="btn btn-black" type="button"
                        data-bs-toggle="tooltip" th:data-bs-title="#{placeholder.find_user}">
                    <i class="fa fa-search"></i>
                </button>
                <input id="search-input" type="search" class="form-control border-secondary border-1"
                       th:placeholder="#{placeholder.find_user}">
            </div>
        </div>
        <div class="col-2 mx-3">
            <select id="role-select" class="selectpicker w-100 bg-white"
                    th:data-none-selected-text="#{placeholder.role}"
                    tabindex="-1" data-actions-box="true" multiple>
                <th:block th:each="userRole: ${userRoles}">
                    <option th:value="${userRole.roleId}" th:text="${roleTitleMap[userRole.code]}"></option>
                </th:block>
            </select>
        </div>
        <div class="col-2">
            <select id="status-select" class="selectpicker w-100 bg-white"
                    th:data-none-selected-text="#{placeholder.status}"
                    tabindex="-1" data-actions-box="true" multiple>
                <th:block th:each="userStatus: ${userStatusMap}">
                    <option th:value="${userStatus.key}" th:text="${userStatus.value}"></option>
                </th:block>
            </select>
        </div>
        <div class="col-2 mx-3">
            <input id="creation-daterange-input" type="text"
                   class="form-control border-secondary border-1 daterange text-grey padding-fixed"
                   th:placeholder="#{placeholder.created_range}">
        </div>
        <div class="btn-group float-end col">
            <button id="submit-btn" class="btn btn-black" type="button" th:text="#{title.apply}"></button>
            <button id="cancel-btn" class="btn btn-secondary" type="button" th:text="#{title.cancel}"></button>
        </div>
    </div>
    <div class="table-responsive">
        <table id="user-list-table" class="table table-sm table-hover table-head-bg-black dataTable w-100">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th th:text="#{title.email}"></th>
                    <th th:text="#{title.full_name}"></th>
                    <th th:text="#{title.phone}"></th>
                    <th th:text="#{title.created_at}"></th>
                    <th th:text="#{title.role}"></th>
                    <th th:text="#{title.status}"></th>
                    <th th:text="#{title.action}"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- User creation modal -->
    <th:block th:replace="~{admin/user/component/creation_form :: create-user}"></th:block>
    <!-- User updating modal -->
    <th:block th:replace="~{admin/user/component/updating_form :: update-user}"></th:block>
</th:block>

<th:block layout:fragment="user-script">
    <script type="module" th:src="@{/admin/custom/js/user/user-creation.js}"></script>
    <script type="module" th:src="@{/admin/custom/js/user/user-list.js}"></script>
    <script type="module" th:src="@{/admin/custom/js/user/user-updating.js}"></script>
</th:block>